.container{
    padding-top: 6%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.577);
    font-size: 20px;
    padding: 30px 40px;
    border-radius: 10px;
}
.scoreRow{
    text-align: center;
}
.padding{
    padding-bottom: 15px;
}
.total{
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 30px;
}
.tableHeader{
    cursor: pointer;
    transition: transform 0.2s ease;
    user-select: none;
    &:hover{
        transform: scale(1.2)
    }
}