.weapon{
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 20px rgba(206, 0, 252, 0.613);
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover{
      transform: scale(1.1)
  }
}
.rock{
  background-image: url('./assets/Images/rock.jpg');
}
.paper{
  background-image: url('./assets/Images/paper.webp');
  background-position: 25%;
}
.scissors{
  background-image: url('./assets/Images/scissors.jpg');
}
.default{
  background-image: url('./assets/Images/start.png');
  background-position: 55%;
}
.chosenWeapon{
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(206, 0, 252, 0.613);
}